.left-btn, .right-btn {
  @include vertically-align();
  z-index: 99;
  position: fixed;
  display: inline-block;
  cursor: pointer;

  svg {
    height: rem(50px);
    fill: black;
    transition: all ease-in-out .2s;
  }
}

.left-btn {
  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
}

.right-btn {
  right: 0px;

  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
}
