.content {
  position: relative;
  float: right;
  width: 70%;
  height: 100vh;
}

.content-item {
  display: none;
  position: relative;
  // padding: rem(50px) rem(25px);
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;

  h2, h6 {
    margin: rem(0px);
  }

  h6 {
    font-family: $base-font;
  }

  .btn {
    margin-top: rem(100px);
    background-color: transparent !important;
    border: rem(1px) solid white;
    border-radius: 0px;
  }

  h2, h6, .btn {
    position: relative;
    z-index: 99;
  }
}

.content-info {
  position: absolute;
  top: 100px;
  width: 100%;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(141deg, rgba(black, 0.7) 0%, rgba(black, 0.2) 51%, rgba(black, 0.1) 75%);
  background: linear-gradient(rgba(black, 0.3), rgba(transparent, 0));
}
