header {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 15px 25px;
  background-color: white;
  border-bottom: 1px solid gray;

  h6, ul {
    display: inline-block;
    margin: 0;
  }

  ul {
    padding: 0;
    list-style-type: none;
    float: right;
  }

  li {
    display: inline-block;
    padding-left: 15px;
    cursor: pointer;

    &.is-active {
      color: red;
    }
  }
}
