.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, rgba($black, 1), rgba($white, 0.1));
}

.overlay-close {
  position: fixed;
  top: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
  z-index: 9999;
  stroke: white;
  cursor: pointer;
}

.main-overlay {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  .vh {
    @include cf();
    @include media('<tablet') {
      top: 0px;
      transform: translateY(0px);
    }
  }
  @include media('<tablet') {
    overflow-x: auto;
    padding: 50px 0;
  }
}

.overlay-item {
  @include col(1/2, $cycle: 2);
  position: relative;;
  height: 350px;
  border: rem(1px) solid $white;
  transition: transform ease-in-out .2s;
  cursor: pointer;
  &:nth-child(-n+2) {
    margin-bottom: 3%;
  }
  h4, p {
    position: relative;
    transition: all ease-in-out .2s;
  }
  h4 {
    padding: 0 rem(25px);
    margin: 0;
    color: $white;
    font-weight: $font-light;
    text-align: center;
    text-transform: uppercase;
  }
  @include media('>tablet') {
    &:hover {
      transform: scale(1.05);
      h4 { opacity: 0; }
      .overlay-item-overlay {
        opacity: 1;
        z-index: 99;
      }
    }
  }
  @include media('<tablet') {
    @include span(1);
    margin-bottom: 5%;
    h4 { display: none; }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.overlay-item-overlay {
  position: absolute;
  opacity: 0;
  z-index: -2;
  top: 0;
  left: 0;
  padding: rem(25px);
  width: 100%;
  height: 100%;
  background: rgba($white, 0.1);
  transition: all ease-in-out .2s;
  h3 {
    display: none;
    padding-bottom: rem(25px);
    margin: 0;
    color: $white;
    font-weight: $font-light;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    color: $white;
    font-size: rem(14px);
  }
  a {
    padding: rem(2px);
    background-color: rgba($white, 0.3);
    color: $white;
    transition: background ease-in-out .2s;
    &:hover {
      background-color: rgba($white, 0.6);
      color: $white;
      text-decoration: none;
    }
  }
  strong {
    color: $white;
    font-weight: $font-bold;
  }
  li {
    color: $white;
  }
  ul {
    column-count: 2;
    li {
      margin-bottom: rem(10px);
      font-size: rem(14px);
      font-weight: $font-medium;
    }
    ul {
      padding-top: rem(5px);
      column-count: 1;
      li {
        margin-bottom: rem(5px);
        font-weight: $font-light;
        padding-left: rem(15px);
      }
    }
  }
  @include media('<tablet') {
    opacity: 1 !important;
    z-index: 99 !important;
    h3 {
      display: block;
    }
  }
}
