<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en-US" dir="ltr"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en-US" dir="ltr"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en-US" dir="ltr"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en-US" dir="ltr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US" dir="ltr"> <!--<![endif]-->
<head>
    <title>alexmattorr</title>
    <meta name="description" content="Alexander Orr's Portfolio Site" />
    <meta name="author"      content="Alexander Orr" />
    <meta name="viewport"    content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- <script type="text/javascript" src="../assets/svg/grunticon.loader.js"></script> -->
    <link href="assets/style/min/style.css" rel="stylesheet" />
</head>

<body>
    {{= it.include("sidebar") }}
    {{= it.document }}
    <!-- <script type="text/javascript" src="../assets/svg/grunticon.loader.js"></script> -->
    <script type="text/javascript" src="assets/scripts/lib.js"></script>
    <script type="text/javascript" src="assets/scripts/app.js"></script>
</body>
</html>