.about-item {
	@include col(1/2);
	p { margin-bottom: rem(25px); }
	@include mobile() { 
		width: 100%;
		h5 { text-align: center; }
	}
}

.skill-header { text-align: center; }
.about-skills {
	max-width: rem(350px);
	width: 100%;
	margin: 0 auto;

	border: 1px solid $d-gray;

	@include mobile() { max-width: initial; }

	.about-skill {
		// clearfix (mixin not working)
		overflow: auto;
	  zoom: 1;

		padding: rem(10px);
		background: $l-gray;
		border-bottom: 1px solid $d-gray;
		cursor: pointer;

		&:last-child { border-bottom: 0px; }
		h5 {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			font-size: 1rem;
			font-weight: $font-bold;
		}
		span {
			display: none;
			float: right;
			svg {
				width: rem(18px);
				height: rem(18px);
				stroke: $coal;
			}
			&.is-active { display: inline-block; }
		}
		ul { display: none; }
		li {
			padding: rem(5px);
			font-size: 0.8rem;
			font-weight: $font-bold;
			&:first-child { padding-top: rem(14px); }
		}
	}
}