.about-item {
	@include col(1/2);
	p { margin-bottom: rem(25px); }
	@include mobile() { width: 100%; }
}

.about-skills {
	max-width: rem(300px);
	width: 100%;
	margin: 0 auto;

	background: gray; // change;
	border: 1px solid gray; // change color

	@include mobile() { max-width: initial; }

	.about-skill {
		// clearfix (mixin not working)
		overflow: auto;
	  zoom: 1;

		padding: rem(10px);
		border-bottom: 1px solid white; // change color
		cursor: pointer;
		&:last-child { border-bottom: 0px; }
		h5 {
			display: inline-block;
			margin: 0;
		}
		span {
			display: none;
			float: right;
			&.is-active { display: inline-block; }
		}
		ul { display: none; }
		li {
			padding: 0 rem(5px) rem(5px) rem(5px);
			&:first-child { padding-top: rem(10px); }
		}
	}
}