.contact {
	.contact-info {
		@include span(2/5);
		margin-bottom: rem(25px);
		li {
			padding-top: rem(10px);
			a {
				color: $green;

				transition-property: color;
				transition-duration: .3s;
				&:hover { color: $d-green; }
			}
		}
	}

	.contact-form {
		@include span(3/5);
		form {
			width: 80%;
			float: right;
			input, textarea {
				width: 100%;
				margin-bottom: rem(10px);
				padding: rem(10px);
				
				background: $l-gray;
				border: rem(1px) solid transparent;

				&:focus {
					outline: 0;
					border-bottom: rem(1px) solid $green;
				}
			}
			.wpcf7-submit {
				transition-property: background;
				transition-duration: .3s;
				cursor: pointer;
				&:hover {
					background: $green;
				}
			}
		}
	}
	
	@include mobile() {
		.contact-info,
		.contact-form {
			width: 100%;
			form { width: 100%; }
		}
	}

	.contact-location {
		position: absolute;
		bottom: rem(15px);
		font-size: rem(14px);
		span { font-weight: $font-bold; }
	}

	.contact-social {
		@include cf();
		position: absolute;
		bottom: 0;
		right: 0;
		li {
			display: block;
			float: left;
			padding: rem(13px) 0;
			a {
				padding: rem(10px) rem(14px);
				background: $green;
				transition-property: background;
				transition-duration: .3s;
				.fa { color: $white; }
			}
			&:hover { a { background: $d-green; } }
		}
	}
}