.contact {
	position: relative;
	.contact-info {
		@include span(2/5);
		margin-bottom: rem(25px);
		ul { margin: rem(15px) 0; }
		li {
			padding: rem(10px) 0;
			a {
				color: $main-color;

				transition-property: color;
				transition-duration: .3s;
				&:hover { color: $second-color; }
			}
		}
	}

	.contact-form {
		@include span(3/5);
		form {
			width: 80%;
			float: right;
			input, textarea {
				width: 100%;
				margin-bottom: rem(10px);
				padding: rem(15px);
				
				background: $l-gray;
				border: rem(5px) solid transparent;
				font-size: rem(14px);
				letter-spacing: rem(1px);

				transition-property: border;
				transition-duration: .3s;
				&:focus {
					outline: 0;
					border: rem(5px) solid $main-color;
				}
			}
			.wpcf7-submit {
				transition-property: background;
				transition-duration: .3s;
				cursor: pointer;
				&:hover {
					background: $main-color;
				}
			}
			.wpcf7-not-valid { border: rem(5px) solid $red; }
			.wpcf7-not-valid-tip { display: none !important; }
			.wpcf7-response-output {
				margin-top: 0px;
				border: none;
				font-size: rem(12px);
				line-height: rem(18px);
			}
		}
	}
	
	@include mobile() {
		.contact-info,
		.contact-form {
			width: 100%;
			form { width: 100%; }
		}
	}

	.contact-location {
		position: absolute;
		bottom: rem(15px);
		font-size: rem(14px);
		span { font-weight: $font-bold; }
	}

	.contact-social {
		@include cf();
		position: absolute;
		bottom: 0;
		right: 0;
		li {
			display: block;
			float: left;
			padding: rem(13px) 0;
			a {
				padding: rem(10px) rem(14px);
				background: $main-color;
				transition-property: background;
				transition-duration: .3s;
				.fa { color: $white; }
			}
			&:hover { a { background: $second-color; } }
		}
	}
}