.top {
	position: relative;
	width: 100%;
	height: 60vh !important;
	padding-top: rem(75px) !important;
	background: transparent !important;
	text-align: center;

	img {
		width: rem(200px);
		margin-bottom: rem(50px);
		border-radius: 50%;
		border: rem(5px) solid $green;
		@include mobile() { margin-bottom: 0; }
	}

	h1, h3 { 
		color: $white; 
		text-transform: uppercase;
	}
	h1 {
		margin: 0;
		padding: rem(5px) 0;
		font-weight: $font-bold;
		span { font-weight: $font-light; }
	}
	h3 {
		// font-size: 2rem; 
		font-weight: $font-light; 
	}

	article {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 200px;
		// margin-top: rem(300px);
		background: $white;
	}

	@include mobile() {
		padding-top: rem(75px) !important;
		h1, h3 {
			position: relative;
		  top: 15%;
			transform: translateY(-15%);
		}
	}
}