// Colors
$black: #000;
$coal: #444;
$white: #FFF;
$egg: #ECF0F1;

$grey: #f9f9f9;
$grey-d: #eee;


$indago: #3F51B5;
$indago-h: #7986CB;
$indago-d: #303F9F;

$light-blue: #03A9F4;
$light-blue-h: #4FC3F7;
$light-blue-d: #0288D1;

$teal: #009688;
$teal-h: #80CBC4;
$teal-d: #00796B;

$light-green: #8BC34A;
$light-green-h: #AED581;
$light-green-d: #689F38;

// Colors by Use
