body {
  // @include debug();
}

.content-full {
  @include contentWrap();
}

.content-block {
  @include cf();
  @include card();
  background: $white;
}

.content-block-small,
.content-block-large {
  float: left;
}

.content-block-small {
  padding: rem(50px);
  width: 30%;
  @include media('<tablet') {
    display: none; // maybe
    width: 100%;
    padding: 0px;
  }
}

.content-block-large {
  padding: rem(50px);
  width: 70%;
  h1 {
    margin-top: 0px;
    margin-bottom: rem(25px);
    span {
      font-weight: lighter;
    }
  }
  @include media('<tablet') {
    padding: rem(25px);
    width: 100%;
  }
}

.content-block-item {
  margin-bottom: rem(25px);
  padding: rem(25px);
  width: 100%;
  background-color: $grey;
  border: 1px solid $grey-d;
}

// text formatting for block item
.content-resume,
.contact-block-side {
  ul {
    // padding-left: rem(25px);
    li {
      margin-bottom: 10px;
      ul {
        padding: rem(10px) 0 rem(10px) rem(18px);
        li {
          list-style-type: disc;
        }
      }
    }
  }
}
